.page-header {

  font-family: Roboto, Arial;
  font-size: 30px;
  font-weight: 700;
  color: black;

  border-bottom: 5px solid rgba(0, 0, 0, 0.253);

  display: flex;
  justify-content: center;
  align-items: center;
  height: 150px;
}
